{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

{% include 'partials/navbar.html' %}

<main>

  <!-- Container START -->
  <div class="container-fluid">

    <!-- Sidenav START -->
    <div class="navbar navbar-vertical navbar-light">
      <div class="offcanvas offcanvas-start custom-scrollbar rounded pt-3" tabindex="-1" id="navbarVerticaloffcanvas">
        <div class="offcanvas-body pt-5 pt-lg-0">
          <!-- Card START -->

          <!-- Avatar -->
          <div class="avatar avatar-lg mb-3">
            <a href="#!"><img class="avatar-img rounded-circle border border-white border-3"
                src="{% static 'images/avatar/07.jpg' %}" alt=""></a>
          </div>
          <!-- Info -->
          <h5 class="mb-0"> <a href="#!">Sam Lanson </a> </h5>
          <small>Web Developer at StackBros</small>
          <!-- User stat START -->
          <div class="hstack gap-2 gap-xl-3 mt-3">
            <!-- User stat item -->
            <div>
              <h6 class="mb-0">256</h6>
              <small>Post</small>
            </div>
            <!-- Divider -->
            <div class="vr"></div>
            <!-- User stat item -->
            <div>
              <h6 class="mb-0">2.5K</h6>
              <small>Followers</small>
            </div>
            <!-- Divider -->
            <div class="vr"></div>
            <!-- User stat item -->
            <div>
              <h6 class="mb-0">365</h6>
              <small>Following</small>
            </div>
          </div>
          <!-- User stat END -->

          <!-- Divider -->
          <hr>

          <!-- Side Nav START -->
          <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/home-outline-filled.svg' %}" alt=""><span>Feed </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/medal-outline-filled.svg' %}" alt=""><span>Popular </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/clock-outline-filled.svg' %}" alt=""><span>Recent </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/like-outline-filled.svg' %}" alt=""><span>Subscriptions </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/star-outline-filled.svg' %}" alt=""><span>My favorites </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/task-done-outline-filled.svg' %}" alt=""><span>Wishlist </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/notification-outlined-filled.svg' %}" alt=""><span>Notifications
                </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/cog-outline-filled.svg' %}" alt=""><span>Settings </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!"> <img class="me-2 h-20px fa-fw"
                  src="{% static 'images/icon/arrow-boxed-outline-filled.svg' %}" alt=""><span>Logout </span></a>
            </li>
          </ul>
          <!-- Side Nav END -->
        </div>
      </div>
    </div>
    <!-- Sidenav END -->

    <!-- Main content START -->
    <div class="page-content">
      <div class="row mb-4">
        <div class="col-12">
          <!-- Video main feed -->
          <div class="rounded py-4 py-sm-5 overflow-hidden position-relative"
            style="background-image:url(/static/images/post/16by9/big/02.jpg); background-position: center center; background-size: cover; background-repeat: no-repeat;">
            <div class="bg-overlay bg-dark opacity-5"></div>
            <div class="p-4 p-sm-5 position-relative">
              <div class="d-flex align-items-center mb-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/01.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <h6 class="mb-0"> <a class="text-white" href="#!"> Frances Guerrero </a> </h6>
                <span class="ms-1 ms-sm-3 small text-white"> 156.9K views</span>
              </div>
              <h1 class="text-white">How does the stock market work?</h1>
              <p class="text-white">Suspicion neglected he resolving agreement perceived at an. </p>
              <a class="btn btn-primary stretched-link"
                href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i
                  class="bi bi-file-earmark-play pe-1"></i>Watch now</a>
            </div>
          </div>
          <!-- Video main END -->
        </div>
      </div>
      <div class="row g-3 mb-4">
        <div class="col-12 mt-4">
          <div class="d-sm-flex justify-content-between align-items-center">
            <h5 class="mb-md-0">Trending </h5>
            <a class="btn btn-sm btn-primary" href="#!">View more video</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <img class="card-img-top" src="{% static 'images/post/16by9/large/01.jpg' %}" alt="">
              <!-- Play icon -->
              <div class="card-element-hover position-absolute top-50 start-50 translate-middle">
                <a class="icon-md bg-mode text-secondary rounded-circle"
                  href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i class="bi bi-play-fill fs-5">
                  </i> </a>
              </div>
              <!-- Duration -->
              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                    class="fa-solid fa-heart"></i></span>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                  Should you become a web designer in 2022? </a>
              </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/01.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Frances Guerrero </a> </h6>
                  <span class="ms-auto small"> 156.9K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <div class="ratio ratio-16x9 card-img-top overflow-hidden">
                <iframe src="https://www.youtube.com/embed/CgEZNJSeofs" title="YouTube video" allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body position-relative">
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> Learn
                  web development as an absolute beginner
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/02.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Lori Ferguson <i
                        class="bi bi-patch-check-fill text-success small"></i> </a> </h6>
                  <span class="ms-auto small"> 458.4K views</span>
                </div>
              </div>
              <!-- Video title  -->
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <img class="card-img-top" src="{% static 'images/post/16by9/large/02.jpg' %}" alt="">
              <!-- Play icon -->
              <div class="card-element-hover position-absolute top-50 start-50 translate-middle">
                <a class="icon-md bg-mode text-secondary rounded-circle"
                  href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i class="bi bi-play-fill fs-5">
                  </i> </a>
              </div>
              <!-- Duration -->
              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:40</span>
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                    class="fa-solid fa-heart"></i></span>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                  Python tutorial - Python for beginners [full
                  course] </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/03.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Louis Crawford </a> </h6>
                  <span class="ms-auto small"> 235.4K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <img class="card-img-top" src="{% static 'images/post/16by9/large/03.jpg' %}" alt="">
              <!-- Play icon -->
              <div class="card-element-hover position-absolute top-50 start-50 translate-middle">
                <a class="icon-md bg-mode text-secondary rounded-circle"
                  href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i class="bi bi-play-fill fs-5">
                  </i> </a>
              </div>
              <!-- Duration -->
              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">06:12</span>
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                    class="fa-solid fa-heart"></i></span>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> One
                  of the greatest speeches ever | Steve Jobs
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/04.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Larry Lawson </a> </h6>
                  <span class="ms-auto small"> 891.7K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <img class="card-img-top" src="{% static 'images/post/16by9/large/04.jpg' %}" alt="">
              <!-- Play icon -->
              <div class="card-element-hover position-absolute top-50 start-50 translate-middle">
                <a class="icon-md bg-mode text-secondary rounded-circle"
                  href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i class="bi bi-play-fill fs-5">
                  </i> </a>
              </div>
              <!-- Duration -->
              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:45</span>
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                    class="fa-solid fa-heart"></i></span>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> A
                  trading platform - an easy start in trading
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/05.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Joan Wallace </a> </h6>
                  <span class="ms-auto small"> 457.2K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <img class="card-img-top" src="{% static 'images/post/16by9/large/05.jpg' %}" alt="">
              <!-- Play icon -->
              <div class="card-element-hover position-absolute top-50 start-50 translate-middle">
                <a class="icon-md bg-mode text-secondary rounded-circle"
                  href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> <i class="bi bi-play-fill fs-5">
                  </i> </a>
              </div>
              <!-- Duration -->
              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                    class="fa-solid fa-heart"></i></span>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> 8
                  shocking bitcoin crypto predictions for 2022
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/07.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Carolyn Ortiz </a> </h6>
                  <span class="ms-auto small"> 876.2K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
      </div>

      <!-- Official trailer START -->
      <div class="row g-3 mb-4">
        <div class="col-12 mt-4">
          <div class="d-sm-flex justify-content-between align-items-center">
            <h5 class="mb-md-0">Official Trailer </h5>
            <a class="btn btn-sm btn-primary" href="#!">View more video</a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <div class="overflow-hidden fullscreen-video w-100">
                <!-- HTML video START -->
                <div class="player-wrapper card-img-top overflow-hidden">
                  <video class="player-html" controls crossorigin="anonymous"
                    poster="{% static 'images/videos/poster.jpg' %}">
                    <source src="{% static 'images/videos/video-feed.mp4' %}" type="video/mp4">
                  </video>
                </div>
                <!-- HTML video END -->
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body position-relative">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> New
                  movie trailers (2021 - 2022) September
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/01.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Frances Guerrero </a> </h6>
                  <span class="ms-auto small"> 145.2K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Video START -->
          <div class="card h-100">
            <!-- Video image -->
            <div class="card-image">
              <div class="ratio ratio-16x9 card-img-top overflow-hidden">
                <iframe src="https://www.youtube.com/embed/7E45f46yDFI" title="YouTube video" allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body position-relative">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> 15
                  useful apps for android smartphones users
                </a> </h6>
              <div class="d-flex mt-2">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/02.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Lori Ferguson <i
                        class="bi bi-patch-check-fill text-success small"></i> </a> </h6>
                  <span class="ms-auto small"> 235.8K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Video START -->
          <div class="card position-relative h-100">
            <!-- Video image -->
            <div class="card-image">
              <div class="ratio ratio-16x9 card-img-top overflow-hidden">
                <iframe src="https://player.vimeo.com/video/225888984?h=65630c41c6" title="Vimeo video"
                  allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video info -->
            <div class="card-body position-relative">
              <!-- Video title  -->
              <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> The
                  Red notice | Official teaser | Netflix
                </a> </h6>
              <div class="d-flex mt-3">
                <!-- Avatar -->
                <div class="avatar avatar-xxs me-2">
                  <img class="avatar-img rounded-circle" src="{% static 'images/avatar/03.jpg' %}" alt="">
                </div>
                <!-- Avatar name -->
                <div>
                  <h6 class="mb-0 lh-1"> <a href="#!"> Louis Crawford </a> </h6>
                  <span class="ms-auto small"> 785.2K views</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Video END -->
        </div>
      </div>
      <!-- Official trailer END -->

      <div class="row g-3 mb-4">
        <div class="col-12 mt-4">
          <h5>Music </h5>
        </div>
        <!-- Story START -->
        <div class="tiny-slider arrow-hover overflow-hidden">
          <div class="tiny-slider-inner d-flex" data-arrow="true" data-dots="true" data-loop="true"
            data-autoplay="false" data-items-xxl="6" data-items-xl="5" data-items-lg="4" data-items-md="4"
            data-items-sm="3" data-items-xs="1" data-gutter="12" data-edge="0">
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/06.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> 8
                      shocking bitcoin crypto predictions for
                      2022 </a> </h6>
                  <span class="small"> 665.1K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <div class="ratio ratio-16x9 card-img-top overflow-hidden">
                    <iframe src="https://player.vimeo.com/video/169562083?h=5785cc7ede" title="Vimeo video"
                      allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body position-relative">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}"> A
                      trading platform - an easy start in
                      trading </a> </h6>
                  <span class="small"> 458.3K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/09.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:40</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                      How does the stock market work? </a> </h6>
                  <span class="small"> 985.1K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/10.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">06:12</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                      How to create a app for your e-commerce
                      website </a> </h6>
                  <span class="small"> 658.2K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/07.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:45</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                      Dilen - When I See You (Official Music)
                    </a> </h6>
                  <span class="small"> 325.1K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/08.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                      Complete cryptocurrency course - start
                      learning </a> </h6>
                  <span class="small"> 785.9K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
            <div>
              <!-- Video START -->
              <div class="card position-relative h-100">
                <!-- Video image -->
                <div class="card-image">
                  <img class="card-img-top" src="{% static 'images/post/16by9/large/01.jpg' %}" alt="">
                  <!-- Play icon -->
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5">
                      </i> </a>
                  </div>
                  <!-- Duration -->
                  <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                    <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i
                        class="fa-solid fa-heart"></i></span>
                  </div>
                </div>
                <!-- Video info -->
                <div class="card-body">
                  <!-- Video title  -->
                  <h6> <a class="stretched-link" href="{% url 'pages:dynamic_pages' template_name='video-details' %}">
                      Should you become a web designer in 2022?
                    </a> </h6>
                  <span class="small"> 785.9K views</span>
                </div>
              </div>
              <!-- Video END -->
            </div>
          </div>
        </div>
      </div>

      <!-- footer START -->
      <footer class="card card-body">
        <div class="row g-4">
          <div class="col-md-8">
            <!-- Footer nav START -->
            <ul class="nav lh-1">
              <li class="nav-item">
                <a class="nav-link ps-0" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="#">Support </a>
              </li>            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:dynamic_pages' template_name='privacy-and-terms' %}">Privacy & terms</a>
              </li>
            </ul>
            <!-- Footer nav START -->
            <!-- Copyright START -->
            <p class="mb-0 mt-4">©2024 <a class="text-body" target="_blank" href="https://stackbros.in/">
                StackBros </a>All rights reserved Supposing so be resolving breakfast am or perfectly. Is drew am hill
              from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all
              had supported. </p>
            <!-- Copyright END -->
          </div>
          <div class="col-md-4">
            <div class="d-flex justify-content-md-end">
              <a href="#"><img class="h-50px" src="{% static 'images/app-store.svg' %}" alt="app-store"></a>
              <a href="#"><img class="h-50px ms-2" src="{% static 'images/google-play.svg' %}" alt="google-play"></a>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer END -->
    </div>
    <!-- Main content END -->

  </div>
  <!-- Container END -->

</main>

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}