{% extends "profile-layout.html" %}

{% load static %}

{% block page_content %}

<div class="card">
  <!-- Card header START -->
  <div class="card-header d-sm-flex align-items-center justify-content-between border-0 pb-0">
    <h5 class="card-title">Photos</h5>
  </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
    <div class="row g-3">
      {% for post in media %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- Photo item -->
        <div class="card p-2 shadow-none border">
          <a href="{{ post.image.url }}" data-glightbox="" data-gallery="image-popup">
            <img class="rounded img-fluid" src="{{ post.image.url }}" alt="">
          </a>
        </div>
      </div>
      {% empty %}
      <div class="text-center py-5">
        <p>No photos yet.</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Card body END -->
</div>

{% endblock page_content %}