{% extends "profile-layout.html" %}
{% load allauth i18n %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block page_content %}

{% include 'partials/navbar.html' %}

<!-- Card feed item START -->
<div class="card">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <h5 class="card-title"> Profile Info</h5>
  </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
    <div class="rounded border px-3 py-2 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <h6>Overview</h6>
        {% if request.user == profile.user %}
        <div class="dropdown ms-auto">
          <!-- Card share action menu -->
          <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </a>
          <!-- Card share action dropdown menu -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction">
            <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                  class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      <p>{{ profile.about|default:"No information provided yet." }}</p>
    </div>
    <div class="row g-4">
      <div class="col-sm-6">
        <!-- Birthday START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-calendar-date fa-fw me-2"></i> Born: <strong> {{ profile.dob|default:"N/A" }} </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction2" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <!-- Card share action dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction2">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- Birthday END -->
      </div>
      <div class="col-sm-6">
        <!-- Status START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-heart fa-fw me-2"></i> Status:
            <strong> {{ profile.get_marital_status_display|default:"N/A" }} </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction3" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <!-- Card share action dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction3">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- Status END -->
      </div>
      <div class="col-sm-6">
        <!-- Designation START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-briefcase fa-fw me-2"></i> <strong> {{ profile.job_title|default:"N/A" }} </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction4" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <!-- Card share action dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction4">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- Designation END -->
      </div>
      <div class="col-sm-6">
        <!-- Lives START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-geo-alt fa-fw me-2"></i> Lives in: <strong> {{ profile.location|default:"N/A" }}
            </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction5" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <!-- Card share action dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction5">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- Lives END -->
      </div>
      <div class="col-sm-6">
        <!-- Joined on START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-geo-alt fa-fw me-2"></i> Joined on: <strong> {{ user.date_joined|date:"M d, Y" }} </strong>
          </p>
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction6" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
          </div>
        </div>
        <!-- Joined on END -->
      </div>
      <div class="col-sm-6">
        <!-- Joined on START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <!-- Date -->
          <p class="mb-0">
            <i class="bi bi-envelope fa-fw me-2"></i> Email: <strong> {{ user.email }} </strong>
          </p>
          <div class="dropdown ms-auto">
            <!-- Card share action menu -->
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction7" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
          </div>
        </div>
        <!-- Joined on END -->
      </div>
      <div class="col-sm-6">
        <!-- Workplace on START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <p class="mb-0">
            <i class="bi bi-building fa-fw me-2"></i> Workplace: <strong> {{ profile.work_place|default:"N/A" }}
            </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction8" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction8">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Education on START -->
        <div class="d-flex align-items-center rounded border px-3 py-2">
          <p class="mb-0">
            <i class="bi bi-book fa-fw me-2"></i> Education:
            <strong> {{ profile.education_qualification|default:"N/A" }} </strong>
          </p>
          {% if request.user == profile.user %}
          <div class="dropdown ms-auto">
            <a class="nav nav-link text-secondary mb-0" href="#" id="aboutAction9" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutAction9">
              <li><a class="dropdown-item" href="{% url 'users:profile_about_edit' %}"> <i
                    class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Card body END -->
</div>
<!-- Card feed item END -->

<!-- Card feed item START -->
<div class="card">
  <!-- Card header START -->
  <div class="card-header d-sm-flex justify-content-between border-0 pb-0">
    <h5 class="card-title">Interests</h5>
    <a class="btn btn-primary-soft btn-sm" href="#!"> See all</a>
  </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
    <div class="row g-4">
      <div class="col-sm-6 col-lg-4">
        <!-- Interests item START -->
        <div class="d-flex align-items-center position-relative">
          <div class="avatar">
            <img class="avatar-img" src="{% static 'images/logo/04.svg' %}" alt="">
          </div>
          <div class="ms-2">
            <h6 class="mb-0"> <a class="stretched-link" href="#"> Oracle </a></h6>
            <p class="small mb-0">7,546,224 followers</p>
          </div>
        </div>
        <!-- Interests item END -->
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Interests item START -->
        <div class="d-flex align-items-center position-relative">
          <div class="avatar">
            <img class="avatar-img" src="{% static 'images/logo/13.svg' %}" alt="">
          </div>
          <div class="ms-2">
            <h6 class="mb-0"> <a class="stretched-link" href="#"> Apple </a></h6>
            <p class="small mb-0">102B followers</p>
          </div>
        </div>
        <!-- Interests item END -->
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Interests item START -->
        <div class="d-flex align-items-center position-relative">
          <div class="avatar">
            <img class="avatar-img rounded-circle" src="{% static 'images/avatar/placeholder.jpg' %}" alt="">
          </div>
          <div class="ms-2">
            <h6 class="mb-0"> <a class="stretched-link" href="#"> Elon musk </a></h6>
            <p class="small mb-0"> CEO and Product Architect of Tesla, Inc 41B followers</p>
          </div>
        </div>
        <!-- Interests item END -->
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Interests item START -->
        <div class="d-flex align-items-center position-relative">
          <div class="avatar">
            <img class="avatar-img" src="{% static 'images/events/04.jpg' %}" alt="">
          </div>
          <div class="ms-2">
            <h6 class="mb-0"> <a class="stretched-link" href="#"> The X Factor </a></h6>
            <p class="small mb-0">9,654 followers</p>
          </div>
        </div>
        <!-- Interests item END -->
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Interests item START -->
        <div class="d-flex align-items-center position-relative">
          <div class="avatar">
            <img class="avatar-img rounded-circle" src="{% static 'images/logo/12.svg' %}" alt="">
          </div>
          <div class="ms-2">
            <h6 class="mb-0"> <a class="stretched-link" href="#"> Getbootstrap </a></h6>
            <p class="small mb-0">8,457,224 followers</p>
          </div>
        </div>
        <!-- Interests item END -->
      </div>
    </div>
  </div>
  <!-- Card body END -->
</div>
<!-- Card feed item END -->

{% endblock page_content %}

{% block extra_javascript %}
{% endblock extra_javascript %}