{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

{% include 'partials/navbar.html' %}

<main>

  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Advanced filter responsive toggler START -->
        <div class="d-flex align-items-center d-lg-none">
          <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->

        <!-- Navbar START-->
        {% include 'partials/sidenav.html' %}
        <!-- Navbar END-->
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-md-8 col-lg-9 vstack gap-4">
        <!-- Video START -->
        <div class="card">

          <!-- Card body START -->
          <div class="card-body">
            <!-- Video image -->
            <iframe class="rounded w-100" height="450" src="https://www.youtube.com/embed/n_Cn8eFo7u8"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <!-- Video Info START -->
            <div class="d-flex my-3">
              <!-- Video title  -->
              <div>
                <h1 class="h4"> What's it like to work at Google? </h1>
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar avatar-xxs me-2">
                    <img class="avatar-img rounded-circle" src="{% static '/images/avatar/01.jpg' %}" alt="">
                  </div>
                  <!-- Avatar name -->
                  <h6 class="mb-0"> <a href="#!"> Frances Guerrero <i
                        class="bi bi-patch-check-fill text-success small"></i> </a> </h6>
                </div>
              </div>
              <!-- Dropdown START -->
              <div class="dropdown ms-auto">
                <a href="#" class="text-secondary ms-2" id="feedVideoActionEdit" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedVideoActionEdit">
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-1"></i> Save video</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-link-45deg fa-fw pe-1"></i> Copy link </a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-1"></i> Hide post</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-1"></i> Block</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-1"></i> Report post</a></li>
                </ul>
              </div>
              <!-- Dropdown END -->
            </div>
            <!-- Video Info END -->

            <!-- Feed Video react START -->
            <ul class="nav nav-stack small mt-4">
              <li class="nav-item">
                <a class="nav-link active" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (23K)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (10K)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!"> <i class="bi bi-eye-fill pe-1"></i>458M Views</a>
              </li>
              <li class="nav-item ms-sm-auto">
                <div class="dropdown">
                  <a href="#" class="text-secondary" id="feedvideoActionShare" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-reply-fill fa-flip-horizontal pe-1"></i>Share (3K)
                  </a>
                  <!-- Dropdown menu -->
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedvideoActionShare">
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct
                        Message</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-1"></i> Bookmark </a>
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-1"></i> Copy link to post</a>
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a>
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-code-slash fa-fw pe-1"></i> Embed</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-1"></i> Share to News
                        Feed</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <!-- Feed Video react END -->
            <!-- Add comment -->
            <div class="d-flex my-3">
              <!-- Avatar -->
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img rounded-circle" src="{% static '/images/avatar/03.jpg' %}" alt="">
              </div>
              <!-- Comment box  -->
              <form class="position-relative w-100">
                <textarea class="one form-control pe-4 bg-light" rows="1" placeholder="Add a comment..."></textarea>
              </form>
            </div>
            <!-- Comment wrap START -->
            <ul class="comment-wrap list-unstyled">
              <!-- Comment item START -->
              <li class="comment-item">
                <div class="d-flex position-relative">
                  <!-- Avatar -->
                  <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="{% static '/images/avatar/05.jpg' %}"
                        alt=""></a>
                  </div>
                  <div class="ms-2">
                    <!-- Comment by -->
                    <div class="bg-light rounded-start-top-0 p-3 rounded">
                      <div class="d-flex justify-content-between">
                        <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
                        <small class="ms-2">5hr</small>
                      </div>
                      <p class="small mb-0">Removed demands expense account in outward tedious do. Particular way
                        thoroughly unaffected projection.</p>
                    </div>
                    <!-- Comment react -->
                    <ul class="nav nav-divider py-2 small">
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> Like (3)</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> Reply</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> View 5 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Comment item nested START -->
                <ul class="comment-item-nested list-unstyled">
                  <!-- Comment item START -->
                  <li class="comment-item">
                    <div class="d-flex">
                      <!-- Avatar -->
                      <div class="avatar avatar-xs">
                        <a href="#!"><img class="avatar-img rounded-circle" src="{% static '/images/avatar/06.jpg' %}"
                            alt=""></a>
                      </div>
                      <!-- Comment by -->
                      <div class="ms-2">
                        <div class="bg-light p-3 rounded">
                          <div class="d-flex justify-content-between">
                            <h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
                            <small class="ms-2">2hr</small>
                          </div>
                          <p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings
                            offended yet answered Jennings perceive.</p>
                        </div>
                        <!-- Comment react -->
                        <ul class="nav nav-divider py-2 small">
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Like (5)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Reply</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <!-- Comment item END -->
                  <!-- Comment item START -->
                  <li class="comment-item">
                    <div class="d-flex">
                      <!-- Avatar -->
                      <div class="avatar avatar-story avatar-xs">
                        <a href="#!"><img class="avatar-img rounded-circle" src="{% static '/images/avatar/07.jpg' %}"
                            alt=""></a>
                      </div>
                      <!-- Comment by -->
                      <div class="ms-2">
                        <div class="bg-light p-3 rounded">
                          <div class="d-flex justify-content-between">
                            <h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
                            <small class="ms-2">15min</small>
                          </div>
                          <p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
                        </div>
                        <!-- Comment react -->
                        <ul class="nav nav-divider py-2 small">
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Like</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Reply</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <!-- Comment item END -->
                </ul>
                <!-- Load more replies -->
                <a href="#!" role="button"
                  class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5"
                  data-bs-toggle="button" aria-pressed="true">
                  <div class="spinner-dots me-2">
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                  </div>
                  Load more replies
                </a>
                <!-- Comment item nested END -->
              </li>
              <!-- Comment item END -->
              <!-- Comment item START -->
              <li class="comment-item">
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="{% static '/images/avatar/05.jpg' %}"
                        alt=""></a>
                  </div>
                  <!-- Comment by -->
                  <div class="ms-2">
                    <div class="bg-light p-3 rounded">
                      <div class="d-flex justify-content-between">
                        <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
                        <small class="ms-2">4min</small>
                      </div>
                      <p class="small mb-0">Removed demands expense account in outward tedious do. Particular way
                        thoroughly unaffected projection.</p>
                    </div>
                    <!-- Comment react -->
                    <ul class="nav nav-divider pt-2 small">
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> Like (1)</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> Reply</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#!"> View 6 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <!-- Comment item END -->
            </ul>
            <!-- Comment wrap END -->
            <!-- Card body END -->
            <!-- Card footer START -->
            <div class="card-footer border-0 py-0">
              <!-- Load more comments -->
              <a href="#!" role="button"
                class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
                data-bs-toggle="button" aria-pressed="true">
                <div class="spinner-dots me-2">
                  <span class="spinner-dot"></span>
                  <span class="spinner-dot"></span>
                  <span class="spinner-dot"></span>
                </div>
                Load more comments
              </a>
            </div>
            <!-- Card footer END -->
          </div>
        </div>
        <!-- Video END -->

        <!-- Card END -->
        <div class="card">
          <!-- Card header START -->
          <div class="card-header border-0 pb-0">
            <h5 class="card-title">Related Videos</h5>
          </div>
          <!-- Card header START -->
          <!-- Card body START -->
          <div class="card-body">
            <div class="tiny-slider arrow-hover">
              <div class="tiny-slider-inner" data-arrow="true" data-dots="true" data-loop="false" data-autoplay="false"
                data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-sm="2" data-items-xs="1"
                data-gutter="12" data-edge="0">
                <!-- Slide item -->
                <div>
                  <!-- Video START -->
                  <div class="card p-0 shadow-none border-0 position-relative">
                    <!-- Video image -->
                    <div class="position-relative">
                      <img class="rounded" src="{% static '/images/post/16by9/large/11.jpg' %}" alt="">
                      <!-- Play icon -->
                      <div class="position-absolute top-0 end-0 p-3">
                        <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i
                            class="bi bi-play-fill fs-5"> </i> </a>
                      </div>
                      <!-- Duration -->
                      <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto">1 min ago</span>
                      </div>
                    </div>
                    <!-- Video info -->
                    <div class="card-body pb-0 px-0">
                      <div class="d-flex align-items-center mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xxs me-2">
                          <img class="avatar-img rounded-circle" src="{% static '/images/avatar/01.jpg' %}" alt="">
                        </div>
                        <!-- Avatar name -->
                        <h6 class="mb-0"> <a href="#!"> Frances Guerrero <i
                              class="bi bi-patch-check-fill text-success small"></i> </a> </h6>
                        <span class="ms-auto small"> 156.9K views</span>
                      </div>
                      <!-- Video title  -->
                      <h6 class="mb-0"> <a class="stretched-link"
                          href="{% url 'pages:dynamic_pages' template_name='post-video-details' %}"> 8 shocking bitcoin
                          crypto predictions for 2022 </a> </h6>
                    </div>
                  </div>
                  <!-- Video END -->
                </div>
                <!-- Slide item END -->

                <!-- Slide item START -->
                <div>
                  <!-- Video START -->
                  <div class="card p-0 shadow-none border-0 position-relative">
                    <!-- Video image -->
                    <div class="position-relative">
                      <img class="rounded" src="{% static '/images/post/16by9/large/12.jpg' %}" alt="">
                      <!-- Play icon -->
                      <div class="position-absolute top-0 end-0 p-3">
                        <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i
                            class="bi bi-play-fill fs-5"> </i> </a>
                      </div>
                      <!-- Duration -->
                      <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">05:10</span>
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto">25 min ago</span>
                      </div>
                    </div>
                    <!-- Video info -->
                    <div class="card-body pb-0 px-0">
                      <div class="d-flex align-items-center mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xxs me-2">
                          <img class="avatar-img rounded-circle" src="{% static '/images/avatar/02.jpg' %}" alt="">
                        </div>
                        <!-- Avatar name -->
                        <h6 class="mb-0"> <a href="#!"> Lori Ferguson <i
                              class="bi bi-patch-check-fill text-success small"></i> </a> </h6>
                        <span class="ms-auto small"> 156.9K views</span>
                      </div>
                      <!-- Video title  -->
                      <h6 class="mb-0"> <a class="stretched-link"
                          href="{% url 'pages:dynamic_pages' template_name='post-video-details' %}"> A trading platform
                          -
                          an easy start in trading </a> </h6>
                    </div>
                  </div>
                  <!-- Video END -->
                </div>
                <!-- Slide item END -->

                <!-- Slide item START -->
                <div>
                  <!-- Video START -->
                  <div class="card p-0 shadow-none border-0 position-relative">
                    <!-- Video image -->
                    <div class="position-relative">
                      <img class="rounded" src="{% static '/images/post/16by9/large/13.jpg' %}" alt="">
                      <!-- Play icon -->
                      <div class="position-absolute top-0 end-0 p-3">
                        <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i
                            class="bi bi-play-fill fs-5"> </i> </a>
                      </div>
                      <!-- Duration -->
                      <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:40</span>
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto">50 min ago</span>
                      </div>
                    </div>
                    <!-- Video info -->
                    <div class="card-body pb-0 px-0">
                      <div class="d-flex align-items-center mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xxs me-2">
                          <img class="avatar-img rounded-circle" src="{% static '/images/avatar/03.jpg' %}" alt="">
                        </div>
                        <!-- Avatar name -->
                        <h6 class="mb-0"> <a href="#!"> Louis Crawford </a> </h6>
                        <span class="ms-auto small"> 156.9K views</span>
                      </div>
                      <!-- Video title  -->
                      <h6 class="mb-0"> <a class="stretched-link"
                          href="{% url 'pages:dynamic_pages' template_name='post-video-details' %}"> One of the greatest
                          speeches ever | Steve Jobs </a> </h6>
                    </div>
                  </div>
                  <!-- Video END -->
                </div>
                <!-- Slide item END -->

                <!-- Slide item START -->
                <div>
                  <!-- Video START -->
                  <div class="card p-0 shadow-none border-0 position-relative">
                    <!-- Video image -->
                    <div class="position-relative">
                      <img class="rounded" src="{% static '/images/post/16by9/large/14.jpg' %}" alt="">
                      <!-- Play icon -->
                      <div class="position-absolute top-0 end-0 p-3">
                        <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i
                            class="bi bi-play-fill fs-5"> </i> </a>
                      </div>
                      <!-- Duration -->
                      <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">06:12</span>
                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto">1 week ago</span>
                      </div>
                    </div>
                    <!-- Video info -->
                    <div class="card-body pb-0 px-0">
                      <div class="d-flex align-items-center mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xxs me-2">
                          <img class="avatar-img rounded-circle" src="{% static '/images/avatar/04.jpg' %}" alt="">
                        </div>
                        <!-- Avatar name -->
                        <h6 class="mb-0"> <a href="#!"> Larry Lawson </a> </h6>
                        <span class="ms-auto small"> 156.9K views</span>
                      </div>
                      <!-- Video title  -->
                      <h6 class="mb-0"> <a class="stretched-link"
                          href="{% url 'pages:dynamic_pages' template_name='post-video-details' %}"> A trading platform
                          -
                          an easy start in trading </a> </h6>
                    </div>
                  </div>
                  <!-- Video END -->
                </div>
                <!-- Slide item END -->
              </div>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
      <!-- Main content END -->

    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}